.m-top-nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 44px;
  color: #fff;
  background: #4abdcc;
  z-index: 999;
}
.m-top-nav .nav-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  height: 100%;
  position: relative;
}
.m-top-nav .nav-inner:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 200%;
  height: 200%;
  border-bottom: 1px solid #e5e5e5;
  border-radius: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transform: scale(0.5);
  -webkit-transform-origin: left top;
  transform: scale(0.5);
  transform-origin: left top;
  z-index: -1;
}
.m-top-nav .home {
  width: 44px;
  height: 44px;
  background: url("../assets/timg1.png") no-repeat 50%;
  background-size: 22px 19px;
}
.m-top-nav .tools {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  font-size: 1.2rem;
}
.m-top-nav .tools .user-info {
  position: relative;
  max-width: 125px;
  height: 21px;
  margin-right: 15px;
  padding-left: 28px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  line-height: 21px;
}
.m-top-nav .tools .user-info span {
  position: absolute;
  left: 0;
  z-index: -1;
  width: 19px;
  height: 19px;
  border-radius: 100%;
  border: 1px solid #fff;
  background-size: cover;
}
.m-top-nav .tools .my-tab {
  display: none;
  position: absolute;
  top: 44px;
  right: 86px;
  padding: 0 13px;
  border-radius: 5px;
  background: #fff;
  color: #b0b0b0;
  font-size: 1.4rem;
  text-align: center;
}
.m-top-nav .tools .my-tab.inwechat {
  right: 15px;
}
.m-top-nav .tools .my-tab:before {
  content: "";
  position: absolute;
  top: -4px;
  left: 50%;
  margin-left: -3px;
  width: 8px;
  height: 8px;
  background: #fff;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}
.m-top-nav .tools .my-tab li {
  width: 71px;
  padding-top: 13px;
  line-height: 20px;
}
.m-top-nav .tools .my-tab li:last-child {
  padding-bottom: 13px;
}
.m-top-nav .tools .my-tab li:not(:last-child) {
  position: relative;
}
.m-top-nav .tools .my-tab li:not(:last-child):after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 200%;
  height: 200%;
  border-bottom: 1px solid #e7e7e7;
  border-radius: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transform: scale(0.5);
  -webkit-transform-origin: left top;
  transform: scale(0.5);
  transform-origin: left top;
  z-index: -1;
}
.m-top-nav .tools .user-info.show + .my-tab {
  display: inline-block;
}
.m-top-nav .tools .btn-tab {
  margin-right: 15px;
}
